node_modules
dist
.git
.github
.vscode
.husky
.agent
.claude
*.md
.env
.env.*
!.env.example
.editorconfig
.prettierrc
.prettierignore
commitlint.config.mts
eslint.config.mts
nodemon.json
coverage
logs
*.log
