PORT=8080
NODE_ENV=development
CLIENT_URL=http://localhost:3000
API_URL=http://localhost:8080
# DB
DATABASE_URL=
# JWT
JWT_SECRET=
JWT_REFRESH_SECRET=
REFRESH_TOKEN_HASH_SECRET=
JWT_ACCESS_EXPIRES_IN=900
JWT_REFRESH_EXPIRES_IN=604800
MAX_SESSION_LIFETIME_IN=2592000
# Google OAuth2
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:8080/api/v1/auth/google/callback
